.git
.gitignore
.DS_Store

__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.env*
ogrre/.env*
ogrre/internal/.env*
creds.py
creds.json
*-service-key.json
*service-key*.json

uploaded_images/
deployment/logs/
deployment/certbot-webroot/
