creds.py
creds.json

# Google service account keys
*-service-key.json
*service-key*.json

.DS_Store
.env
.env_*

uploaded_images/
__pycache__/
*.egg-info/
build/
deployment/secrets/

*.tfstate
*.tfstate.*
*.tfvars
.terraform

github-deploy-targets.json
