aiofiles==23.2.1
aiohttp>=3.14.3
certifi==2023.11.17
fastapi==0.136.3
gcloud-aio-storage==9.0.0
google-api-core==2.15.0
google-auth==2.27.0
google-cloud-documentai==2.21.1
google-cloud-documentai-toolbox==0.13.2a0
google-cloud-storage==2.14.0
numpy
pillow==10.2.0
pydantic==2.13.4
pydantic-settings==2.1.0
PyJWT[crypto]==2.8.0
pymongo[srv]==4.6.1
PyMuPDF==1.24.2
python-dotenv==1.0.1
python-multipart>=0.0.31
requests==2.31.0
uvicorn==0.27.0
zipstream==1.1.4
ogrre_data_cleaning @ git+https://github.com/CATALOG-Historic-Records/OGRRE_data_cleaning@e69fd54e9f572ee4709bbd740af85eb217d51c14
