
name: Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    # -l: login shell, needed when using Conda
    shell: bash -l {0}

env:
  PYTEST_ADDOPTS: "--color=yes"
  PIP_PROGRESS_BAR: "off"

jobs:

  code-formatting:
    name: Check code is formatted (Black)
    # OS and/or Python version don't make a difference, so we choose ubuntu and 3.12 as defaults
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install Black
        run: |
          black_requirement="$(grep '^black==' requirements-dev.txt)"
          pip --no-cache-dir install "$black_requirement"
      - name: Run Black to verify that the committed code is formatted
        run: |
          black --check .

  app-test:
    name: Run the application
    runs-on: ubuntu-latest
    needs: [code-formatting]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Create .env file from secret
        run: |
          echo "${{ secrets.STAGING_ENV }}" > app/.env

      - name: show .env
        run: cat app/.env

      - name: DEBUG LS
        run: ls -a ./app

      - name: Install application
        run: |
          pip install .
          pip install -r requirements.txt

      - name: Add creds file
        id: create-creds-json
        uses: jsdaniell/create-json@v1.2.3
        with:
            name: "app/creds.json"
            json: ${{ secrets.STAGING_CREDS_JSON }}

      - name: Add service key json file
        id: create-service-key-json
        uses: jsdaniell/create-json@v1.2.3
        with:
            name: "app/michael2-service-key.json"
            json: ${{ secrets.STAGING_SERVICE_KEY_JSON }}

      - name: DEBUG LS
        run: ls -a

      - name: Run application
        run: python app/main.py